
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Days</title>
    <a href="http://127.0.0.1:5000"><button>      Вернуться</button></a>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <div class="content">
        <h1>Добавление дней</h1>
        
        <form id="userForm">
            <input type="number" id="name" placeholder="шаги" required>
            <input type="date" id="email" placeholder="День" required>
            <button type="submit">Добавить</button>
        </form>
        

        
    </div>
    </div>
            <ul id="userList"></ul>




    <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
</body>
</html>    
